<div class="h-100">
  <% if @user.id == current_user.id %>

  <h1 class="text-white text-center">拠点</h1>
  <% end %>

  <% if @user.id != current_user.id %>
  <h2 class="text-white text-center">詳細</h2>
  <% end %>

  <div class="flex">

    <div class="status bg-dark p-1">
      <h2>ステータス</h2>
      <p>名前： <%= @user.name %></p>
      <%= attachment_image_tag @user, :user_image, :fill, 100, 100, fallback: "no_image.jpg"%>
      <P>自己紹介：<%= @user.introduction %></p>
    </div>

    <% if @user.id != current_user.id %>
    <div class="menu bg-dark p-1">
    </div>
    <% end %>



    <% if @user.id == current_user.id %>
    <div class="menu bg-dark p-1">
      <ul>
        <li><span class="btn btn-success mb-1"><%= link_to "ステータス編集", edit_user_path, :style=>"color:white;" %></span>
        </li>
        <li><span class="btn btn-warning mb-1"><%= link_to "魔女と戦う", games_answer_path, :style=>"color:white;" %></span>
        </li>
        <% if @user.status == 1%>
        <li><span class="btn btn-danger"><%= link_to "魔王と戦う", games_maou_path, :style=>"color:white;"%></span></li>
      </ul>
      <% end %>
      <% end %>

    </div>
  </div>
</div>

</div>