<% if @user.id == current_user.id %>
<h1>拠点</h1>
<h2>ステータス</h2>
<% end %>

<p>名前： <%= @user.name %></p><br>
<%= attachment_image_tag @user, :user_image, :fill, 100, 100, fallback: "no_image.jpg"%>
<P>自己紹介：<%= @user.introduction %></p> 


<% if @user.id == current_user.id %>
  <%= link_to "ステータス編集", edit_user_path %>
  <%= link_to "魔女と戦う", games_answer_path %>
  <%= link_to "悪魔と戦う", games_push_path %>
<% end %>