<!DOCTYPE html>
<html>
  <head>
    <title>Gamecenter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header class="navbar navbar-dark bg-dark p-0 mb-3">
<%# 多分html黒が優先されている %>
  <% if user_signed_in? %>
  <ul class="ul p-0">
    <li><%= link_to "拠点", user_path(current_user.id), :style=>"color:white;" %></li>
    <li><%= link_to "メンバー", users_path, :style=>"color:white;" %></li>
    <li><%= link_to "逃げる", destroy_user_session_path, method: :delete, :style=>"color:white;" %></li>
  </ul>
  <% end %>
</header>
    <div class="h-100"><%= yield %></div>

    <footer>
      <p>COPYRIGHT ®︎ Horikoshi Yuki ALL RIGHTS RESERVED. </p>
    </footer>
  </body>
  


  
</html>
